
<div class="container-fluid" >
  <div class="row">
    <div class="col-lg-1"></div>
      <div class="col-lg-2">
<div class="sidenav" >
  <img src="assets/logo.jpeg" style="height:80px;padding-left: 33%;">
<div style="padding-top:2px;padding-left:10%;padding-bottom:2px;color: orangered;">
CERTIFIED COURSES </div>
<div class="list-group panel">
  <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidenav" aria-expanded="false"> <span class="hidden-sm-down">MECHANICAL</span> </a>
  <div class="collapse" id="menu1">  
      <a href="#" class="list-group-item" data-parent="#menu1">course 1</a>
      <a href="#" class="list-group-item" data-parent="#menu1">course 2</a>
      <a href="#" class="list-group-item" data-parent="#menu1">course 3</a>
  </div>
  <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidenav" aria-expanded="false"> <span class="hidden-sm-down">IT</span> </a>
  <div class="collapse" id="menu2">
    <a href="#" class="list-group-item" data-parent="#menu1">course 1</a>
      <a href="#" class="list-group-item" data-parent="#menu1">course 2</a>
      <a href="#" class="list-group-item" data-parent="#menu1">course 3</a>
  </div>
  <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidenav" aria-expanded="false"> <span class="hidden-sm-down">EMBEDDED</span></a>
  <div class="collapse" id="menu3">
      <a href="#" class="list-group-item" data-parent="#menu3">course 1</a>
      <a href="#" class="list-group-item" data-parent="#menu3">course 2</a>
      <a href="#" class="list-group-item" data-parent="#menu3">course 3</a>
  </div>
       
</div>
</div>
      </div>
<div class="col-lg-7">

<div id="navbar" >
  <a style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" >INTERNATIONAL INSTITUE OF AUTOMATE</a >
      <i class="fa fa-map-marker" style="font-size:25px;color: black;padding-left: 50px; "></i>
      <mat-form-field >
        <mat-label style="font-size: medium;color: orangered;">Select an location</mat-label>
        <mat-select [(value)]="selected"  class="form-control" style="color: white;font-size: medium;">
          <mat-option >None</mat-option>
          <mat-option routerLink="/location" value="option1">Hyderabad</mat-option>
          <mat-option routerLink="/location" value="option2">Chennai</mat-option>
        </mat-select>
      </mat-form-field>
  
      <a routerLink="/login"style="float: right;padding-top:20px;padding-right:10px"> <button type="button" class="btn btn-md" style="background-color: orangered;color: white;">LOGIN/REGISTER</button></a>
</div>  
<div  style="padding-top:15%;padding-left:5%">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row" ><div class="col-lg-2" > <label for="username" style="font-size: 18px;">Username</label></div>
    <div class="col-lg-4">  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required" >Username is required</div></div></div>
      </div>
  </div>
  <div class="form-group">
    <div class="row">
   <div class="col-lg-2">   <label for="password" style="font-size: 18px;">Password</label></div>
  <div class="col-lg-4">    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required" >Password is required</div>
      </div></div>
  </div></div>
  <div class="form-group">
    <button type="button" class="btn btn-md" style="background-color: orangered;color: white;">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
      </button>
      <a routerLink="/register" class="btn btn-link">register</a>
  </div>
</form>


</div>
</div>
<div class="col-lg-2" style=" background-color: white;">
<div style="padding-top: 10%;">
  <marquee behavior="scroll" direction="down">
<img src="assets/iia.jpg" style="height:150px;width:150px;color:orangered;">&nbsp; &nbsp;&nbsp;&nbsp; rama got placed in accenture
<img src="assets/iia12.jpg" style="height:150px;width:150px;color:orangered;">&nbsp; &nbsp;&nbsp;&nbsp; rama got placed in accenture
<img src="assets/iia15.jpg" style="height:150px;width:150px;color:orangered;">&nbsp; &nbsp;&nbsp;&nbsp; rama got placed in accenture

</marquee>
</div>
</div>

</div>
</div>
